<div class="container">
  <h1>Worlds</h1>

  <%= link_to "Add world", new_world_path %>



  <div class="worlds">
    <% @worlds.each do |world| %>
      <div class="world">
        <%= cl_image_tag world.photo, height: 300, width: 400, crop: :fill, class:"world-image" %>
        <div class="world-infos", data-controller="read">
          <h2><%= link_to world.name, world_cards_path(world_id: world.id) %></h2>
          <% if (sanitize world.description).bytesize > 320 %>
            <p><%= sanitize world.description[0..320] %>
              <span class="dots"
                    data-target="read.dots">...</span>
              <span class="more"
                    data-target="read.more"><%= sanitize world.description[321..(sanitize world.description).bytesize] %></span>
            </p>
            <button class="btn btn-link myBtn" id="read_more_btn"
                    data-action="click->read#readMore">Read more</button>
          <% else %>
            <p><%= sanitize world.description %></p>
          <% end %>
          <div class="world-footer">
            <%= link_to "", edit_world_path(world.id), class: "fas fa-edit"  %>
            <%= link_to "", world_path(world.id), method: :delete, class: "fas fa-dumpster-fire" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
