<%= simple_form_for([@world, @card]) do |f| %>
  <div style="margin-bottom: 10px">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.trix_editor :content %>
  <div style="margin-top: 10px">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
