<h1>Cards#index</h1>

<%= link_to "New card", new_world_card_path(world_id: @world.id) %> <br>
<%= link_to "Back to worlds", worlds_path %>
<% array_of_tag = @tags.to_json %>

<form id="search_bar" action='<%="/worlds/#{@world.id}/cards"%>' name="query" method="get" data-tags='<%= array_of_tag%>'>
  <div>
    <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 75%">
    </select>
  </div>
  <input type="submit">
</form>



<div class="cards">
  <% @cards.each do |card| %>
    <div class="card"
         data-controller="read">
      <h5 class="card-header card-title"><%= card.title %></h5>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
        <% card.tags.each do |tag| %>
          <%= "##{tag.name.gsub(" ", "_")}" %>
        <% end %></h6>
          <% if (sanitize card.content).bytesize > 140 %>

            <p class="card-text"><%= sanitize card.content[0..140] %>
              <span class="dots"
                    data-target="read.dots">...</span>
              <span class="more"
                    data-target="read.more"><%= sanitize card.content[141..(sanitize card.content).bytesize] %></span>
            </p>
            <button class="btn btn-link myBtn"
                    data-action="click->read#readMore">Read more</button>
          <% else %>
            <p class="card-text"><%= sanitize card.content %></p>
          <% end %>
      </div>
      <div class="card-footer">
        <ul class="list-inline">
          <li class= "card-link list-inline-item"><%= link_to "Edit card", edit_world_card_path(world_id: card.world.id, id: card.id)  %></li>
          <li class="card-link list-inline-item"><%= link_to "Burn this card to cinders", world_card_path(world_id: card.world.id, id: card.id), method: :delete %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<!--  if bytesize of content is >100 char
        a = card.content[0..100]
        b = card.content[101..a.bytesize] -->
