<h1>Cards#index</h1>

<%= link_to "New card", new_world_card_path(world_id: @world.id) %> <br>
<%= link_to "Back to worlds", worlds_path %>

<%= form_tag world_cards_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Seperate tags by commas"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="cards">
  <% @cards.each do |card| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-header card-title"><%= card.title %></h5>
          <% if (sanitize card.content).bytesize > 100 %>
            <p class="card-text"><% sanitize card.content[0..100] %><span id="dots">...</span><span id="more"><% sanitize card.content[101..(sanitize card.content).bytesize] %></span></p>
            <button onclick="readMore()" class="btn btn-primary" id="myBtn">Read more</button>
          <% else %>
            <p class="card-text"><%= sanitize card.content %></p>
          <% end %>
        <p class="text-muted">
        <% card.tags.each do |tag| %>
          <%= "##{tag.name.gsub(" ", "_")}" %>
        <% end %></p>
        <div class="card-link"><%= link_to "Edit card", edit_world_card_path(world_id: card.world.id, id: card.id)  %></div>
        <div class="card-link"><%= link_to "Burn this card to cinders", world_card_path(world_id: card.world.id, id: card.id), method: :delete %></div>
      </div>
    </div>
  <% end %>
</div>

<!--  if bytesize of content is >100 char
        a = card.content[0..100]
        b = card.content[101..a.bytesize] -->
